    h1 {
        font-family: fantasy;
    }
    
    hr {
        margin-block-end: 4em;
    }
    
    body {
        background-color: aliceblue;
    }
    
    #theme1 {
        background-color: aliceblue;
        color: black;
        border-radius: 10ch;
        margin-top: 1em;
        position: absolute;
        margin-left: 0px;
        border: 1px solid black;
    }
    
    #theme2 {
        color: aliceblue;
        border-color: black;
        border-radius: 10ch;
        border: 1px solid aliceblue;
        margin-top: 13px;
        background-color: black;
    }
    
    div {
        display: flex;
        justify-content: space-around;
    }
    
    form {
        margin-top: 1em;
    }
    
    p {
        text-align: justify;
        overflow: visible;
        margin-left: 13%;
        margin-right: 13%;
    }